.main-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
    background: var(--bg-primary);
}

.content-container {
    width: 100%;
    max-width: var(--header-max-width);
    margin: 0 auto;
    padding: 0 clamp(var(--space-16), 5%, var(--space-40));
    flex-grow: 1;
}

.layout-grid {
    display: grid;
    width: 100%;
    align-items: stretch;
}

.layout-grid--always-2 {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-40);
    padding: 0 var(--space-16);
}

.layout-grid--adaptive {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-8);
    padding: 0 var(--space-16);
}

/* Планшет */
@media (min-width: 45rem) {
    .layout-grid--always-2 {
        padding: 0 var(--space-24);
        gap: var(--space-40);
    }

    .layout-grid--adaptive {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 var(--space-24);
        gap: var(--space-8);
    }
}

/* Десктоп */
@media (min-width: 90rem) {
    .layout-grid--always-2 {
        padding: 0 var(--space-40);
        gap: var(--space-8);
    }

    .layout-grid--adaptive {
        grid-template-columns: repeat(5, 1fr);
        padding: 0 var(--space-40);
        gap: var(--space-8);
    }
}
